# Python
Backend/.venv/
venv/
__pycache__/
*.pyc

# Node
Frontend/node_modules/
node_modules/

# Build
dist/
build/

# Environment
.env

# Temporary files
tmp/
*.jpg
*.jpeg
*.png

# Virtual environment
.venv/

# Environment variables
.env
!Frontend/ads_frontend/src/assets/*.jpeg
!Frontend/ads_frontend/src/assets/*.jpg
